<div class="card p-4 mt-5">
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th><%= I18n.t("menu_name") %></th>
        <th><%= I18n.t("menu_price") %></th>
        <th><%= I18n.t("created_at") %></th>
        <th><%= I18n.t("updated_at") %></th>
      </tr>
      </thead>
      <tbody>
      <% menus.each do |menu| %>
        <tr>
          <td><%= link_to menu.name, menu_path(menu) %></td>
          <td><%= number_with_delimiter menu.price %></td>
          <td><%= menu.created_at.to_s %></td>
          <td><%= menu.updated_at.to_s %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
