<div class="row">
  <div class="col-3">
    <%= I18n.t("name") %>
  </div>
  <div class="col-9">
    <%= @user.name %>
  </div>

  <div class="col-3">
    <%= I18n.t("created_at") %>
  </div>
  <div class="col-9">
    <%= @user.created_at %>
  </div>

  <div class="col-3">
    <%= I18n.t("updated_at") %>
  </div>
  <div class="col-9">
    <%= @user.updated_at %>
  </div>
</div>

<%= render "/posts/share_index", posts: @posts %>
